$primary: #13693F!default;

$secondary: #20B159!default;

$light: #F2F4F3!default;
$dark: #2E2D2A!default;

$info: #41464B!default;
$success: #D1E6DD!default;
$warning: #FFF3CD!default;
$danger: #F8D7D9!default;

$infoContrast: #E2E3E5!default;
$successContrast: #0F5132!default;
$warningContrast: #664D03!default;
$dangerContrast: #842029!default;

$white: #FFFFFF!default;
$black: #000000!default;
$grey: #797B84!default;
$lightGrey: #737373!default;

//UNITS ARE INTENDED IN PX
//Spacing
$sp-xs: 6!default;
$sp-s: 10!default;
$sp-m: 15!default;
$sp-l: 20!default;
$sp-xl: 30!default;
$sp-x1l: 36!default;
$sp-x2l: 40!default;
$sp-x3l: 50!default;

//FONT SIZES
$fs-xxs: 10!default;
$fs-xs: 12!default;
$fs-s: 14!default;
$fs-m: 16!default;
$fs-l: 18!default;
$fs-xl: 20!default;
$fs-x1l: 24!default;
$fs-x1-5l: 26!default;
$fs-x2l: 30!default;
$fs-x3l: 40!default;
