$primary: #13693F;

$secondary: #20B159;

$light: #F2F4F3;
$dark: #2E2D2A;

$info: #41464B;
$success: #D1E6DD;
$warning: #FFF3CD;
$danger: #F8D7D9;

$infoContrast: #E2E3E5;
$successContrast: #0F5132;
$warningContrast: #664D03;
$dangerContrast: #842029;

$white: #FFFFFF;
$black: #000000;
$grey: #797B84;

//UNITS ARE INTENDED IN PX
//Spacing
$sp-xs: 6;
$sp-s: 10;
$sp-m: 15;
$sp-l: 20;
$sp-xl: 30;
$sp-x1l: 36;
$sp-x2l: 40;
$sp-x3l: 50;

//FONT SIZES
$fs-xxs: 10;
$fs-xs: 12;
$fs-s: 14;
$fs-m: 16;
$fs-l: 18;
$fs-xl: 20;
$fs-x1l: 24;
$fs-x1-5l: 26;
$fs-x2l: 30;
$fs-x3l: 40;
