@use "../_variables.scss";
@use "../utilities.scss";

// ***********  FONTS  *********** //

@mixin font-family($family: '') {
    @if ($family!='') {
        font-family: $family;
    }
}

@mixin font-size($size) {
  font-size: utilities.add-px-unit($size);
}

@mixin font-weight($weight: 400) {
  font-weight: $weight;
}

@mixin font-regular {
  @include font-weight(400);
}

@mixin text-decoration-color($color: '') {
  @if ($color!='') {
    text-decoration-color: $color;
  }
}

@mixin underline-primary {
  @include text-underline;
  @include text-decoration-color(variables.$primary);
}

@mixin font-size-height-width($size: 14, $unit: px) {
  font-size: #{$size}#{$unit};
  height: #{$size}#{$unit};
  width: #{$size}#{$unit};
}

@mixin color($color: '') {
  @if ($color!='') {
    color: $color;
  }
}

@mixin text-primary {
  @include color(variables.$primary)
}

@mixin text-secondary {
  @include color(variables.$secondary)
}

@mixin text-lightgrey {
  @include color(variables.$lightGrey)
}

@mixin font-success {
  @include color(variables.$success);
}

@mixin font-info {
  @include color(variables.$info);
}

@mixin font-warning {
  @include color(variables.$warning);
}

@mixin font-danger {
  @include color(variables.$danger);
}


@mixin font-contrast-success {
  @include color(variables.$successContrast);
}

@mixin font-contrast-info {
  @include color(variables.$infoContrast);
}

@mixin font-contrast-warning {
  @include color(variables.$warningContrast);
}

@mixin font-contrast-danger {
  @include color(variables.$dangerContrast);
}

@mixin text-center {
  text-align: center;
}

@mixin text-left {
  text-align: left;
}

@mixin text-right {
  text-align: right;
}

@mixin text-justify {
  text-align: justify;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

@mixin text-lowercase {
  text-transform: lowercase;
}

@mixin text-capitalize {
  text-transform: capitalize;
}

@mixin text-underline {
  text-decoration: underline;
}

@mixin text-line-through {
  text-decoration: line-through;
}

@mixin text-overline {
  text-decoration: overline;
}

@mixin text-nowrap {
  white-space: nowrap;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-no-decoration {
  text-decoration: none;
}
