@use "../../utilities";

// ***********  SHADOWS  *********** //

@mixin backdrop {
  box-shadow: 0 10px 20px rgba(200, 208, 216, 0.3);
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

// ***********  OPACITY  *********** //

@mixin opacity($opacity: 1){
  opacity: $opacity;
}

// *********** BACKDROP FILTERS ********** //

@mixin backdrop-filter-blur($filter){
  backdrop-filter: blur(utilities.add-px-unit($filter));
}
